.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600;
}

.App-logo {
  height: 7vh;
  pointer-events: none;
  vertical-align: middle;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ff000046;
  min-height: 10vh;
  line-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: left;
  font-size: calc(5vh);
  color: white;
}

.App-body {
  width: 60vw;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
